# Virtualenvs
/venv/
/.venv/

# Django
/db.sqlite3
/db.sqlite3-journal
/staticfiles/
/media/
*.log

# Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pot
.ruff_cache/

# Editors / OS
/.vscode/
/.idea/
.DS_Store
