<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse :all products</title>
    {% comment %} bootstrap css {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="container-fluid">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    {% comment %} Search Warehouse {% endcomment %}
    <form class="mb-2 mt-3 mx-2" method="get">
        {{ filter.form }}
        <input class="btn btn-primary px-4 ms-3" type="submit" value="search">
    </form>

    <table class="table table-dark table-striped table-hover shadow rounded">
        <thead>
            <tr>
                <th colspan='9'>
                    <a class="text-white text-decoration-none" href="{% url 'warehouse_add' %}">add product</a>
                </th>
            </tr>
            <tr>
                <th scope="col">sl</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">category</th>
                <th scope="col">Serial</th>
                <th scope="col">quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.serial }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.status }}</td>
                <td>
                    <a class="btn btn-sm btn-primary mr-3" href="{% url 'warehouse_update' product.id %}">edit</a>
                    <a class="btn btn-sm btn-danger mr-3" href="{% url 'warehouse_delete' product.id %}">del</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if products.has_previous %}
    <a class="btn prev-btn btn-success mb-3" href="?p={{products.previous_page_number}}">previous</a>
    {% endif %}
    {{products.number}}
    {% if products.has_next %}
    <a class="btn next-btn btn-success mb-3" href="?p={{products.next_page_number}}">next</a>
    {% endif %}

</body>
{% comment %} Bootstrap js {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>

</html>