{% extends 'accounts/main.html' %}
{% block title %}
clients details
{% endblock title %}
{% block content %}

{% comment %} Search Warehouse {% endcomment %}
<form class="mb-2 mt-3 mx-2" method="get">
    {{ filter.form }}
    <input class="btn btn-primary px-4 ms-3" type="submit" value="search">
</form>

<table class="table table-striped table-hover  rounded">
    <thead>
        <tr>
            <th colspan='9'>
                <a class="text-dark text-decoration-none" href="{% url 'clients_add' %}">add client</a>
            </th>
        </tr>
        <tr>
            <th scope="col">sl</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">IP</th>
            <th scope="col">Pop</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ client.name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.address }}</td>
            <td>{{ client.ip }}</td>
            <td>{{ client.pop_name }}</td>
            <td>{{ client.status }}</td>
            <td>
                <a class="btn btn-sm btn-primary mr-3" href="{% url 'clients_update' client.id %}">edit</a>
                <a class="btn btn-sm btn-danger mr-3" href="{% url 'clients_delete' client.id %}">del</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% if clients.has_previous %}
<a class="btn prev-btn btn-success mb-3" href="?p={{clients.previous_page_number}}">previous</a>
{% endif %}
{{clients.number}}
{% if clients.has_next %}
<a class="btn next-btn btn-success mb-3" href="?p={{clients.next_page_number}}">next</a>
{% endif %}

{% endblock content %}