{% extends 'dashboard/main.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<section>
    <div class="row gap-3">
        <div class="col-lg-8 shadow rounded-3 p-3 mx-3">
            <h5>All Clients: {{clients}}</h5>
            <h5>Active Clients: {{activeClients}}</h5>
            <h5>Inactive Clients: {{activeClients}}</h5>
            <h5>All Onu: {{onu}}</h5>
            <h5>Active Onu: {{activeOnu}}</h5>
            <h5>Stored Onu: {{storedOnu}}</h5>
            <h5>Damaged Onu: {{damagedOnu}}</h5>
            <h5>Collected Bill: {{collected_bill}}</h5>
            <h5>Upsteam Bill: {{upsteam_bill}}</h5>
            <h5>Profit By Bill: {{profit_via_bill}}</h5>
            <h5>invest: {{invest}}</h5>
            <h5>earn: {{earn}}</h5>
            <h5>Profit: {{profit}}</h5>
            

        </div>
        <div class="col-lg-3 shadow rounded-3 p-3">
            <h3>important links</h3>
            <nav>
                <ul>
                    <li><a href="{% url 'invests' %}">invets</a></li>
                    <li><a href="{% url 'earnings' %}">earn</a></li>
                    <li><a href="{% url 'commission' %}">commission</a></li>
                    <li><a href="{% url 'months' %}">month</a></li>
                    <li><a href="{% url 'years' %}">year</a></li>
                    <li><a href="{% url 'package' %}">packages</a></li>
                    <li><a href="{% url 'warehouse' %}">warehouse</a></li>
                    <li><a href="{% url 'onu' %}">onu</a></li>
                </ul>
            </nav>
    
        </div>
    </div>    
</section>
{% endblock content %}