{% extends 'dashboard/main.html' %}
{% block title %}Months{% endblock title %}
{% block content %}
<table class="table table-striped table-hover  rounded">
    <thead>
        <tr>
            <th colspan='9'>
                <a class="text-dark text-decoration-none" href="{% url 'invests-add' %}">add invest</a>
            </th>
        </tr>
        <tr>
            <th scope="col">sl</th>
            <th scope="col">Invest Details</th>
            <th scope="col">Invest Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for invest in invests %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ invest.invest_details }}</td>
            <td>{{ invest.invest_amount }}</td>
            <td>{{ invest.created }}</td>
            <td>
                <a class="btn btn-sm btn-primary mr-3" href="{% url 'invests-update' invest.id %}">edit</a>
                <a class="btn btn-sm btn-danger mr-3" href="{% url 'invests-delete' invest.id %}">del</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if invests.has_previous %}
<a class="btn prev-btn btn-success mb-3" href="?p={{invests.previous_page_number}}">previous</a>
{% endif %}
{{invests.number}}
{% if invests.has_next %}
<a class="btn next-btn btn-success mb-3" href="?p={{invests.next_page_number}}">next</a>
{% endif %}
{% endblock %}